body {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  font-size: 10px;
  width: 40em;
  height: 40em;
  position: relative;
}

.sun {
  position: absolute;
  width: 15em;
  height: 15em;
  top: 15em;
  left: 15em;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 3em white;
}

.earth,.moon {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: .1em 0.05em 0 0;
  border-radius: 50%;
}
.earth {
  width: 38em;
  height: 38em;
  top: 4em;
  left: 4em;
  animation: orbit 26.5s linear infinite;
}

.moon {
  width: 10em;
  height: 10em;
  top: 0;
  right: 0;
  animation: orbit 2.5s linear infinite;
}

.earth::before,
.moon::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.earth::before {
  top: 3.5em;
  right: 3.5em;
  width: 4em;
  height: 4em;
  background-color: aqua;
}

.moon::before {
  top: .75em;
  right: 0.75em;
  width: 1.5em;
  height: 1.5em;
  background-color: silver;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
